.linha-horizontal {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.582);
  width: 100%;
  margin-top: 5%;
}

.container_footer{
  width: 900px;
  height: 30px;
}

.container_footer > ul > li {
  list-style: none;
}

.line{
  display: flex;
  justify-content: center;
}

.line_footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.line_footer > li , a{
  margin-left: 20px;
  text-decoration: none;
}

.line_footer> li > a {
  color: rgba(255, 255, 255, 0.582);
}

.line_footer> li  :hover{
  color: white;
  font-weight: 700;
}

