.card {
  height: 100%;
  width: 100%;
  max-width: 450px;
  max-height: 400px;
}

.container_big-card {
  max-width: 450px;
  max-height: 650px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card_title {
  margin: 1.5rem;
}


.big-card_title>h1 {
  text-align: start;
  font-size: 160%;
}

.big-card_description {
  margin: 0.5rem;
}

.big-card_description>p {
  text-align: left;
  font-size: 100%;
  margin: 15px;
  color: rgba(255, 255, 255, 0.582);
}

.card, .container_big-card, .big-card_title, .big-card_description, h1, p, img, .big-card-button {
  background-color: #1D1E1F !important;
  border-radius: 20px;
}

.big-card-button {
  margin: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.big-card-button>a, button {
  background-color: #FFE919;
  color: black;
  border-radius: 27px;
  width: 10rem;
  height: 2.5rem;
  font-size: small;
}

.big-card-button :hover {
  background-color: #F8E218;
  width: 11rem;
  height: 3rem;
  border-radius: 30px;
}
