<div class="container_big-card">
  <div class="big-card_photo">
    <img src="./assets/img/big-card-2.jpg" class="card" alt="" srcset="" />
  </div>
  <div class="big-card_title">
    <h1>Ahsoka Tano investiga uma ameaça emergente à galáxia</h1>
  </div>
  <div class="big-card_description">
    <p>
      Após a queda do Império, acompanhamos as aventuras da antiga cavaleira
      Jedi Ahsoka Tano (Rosario Dawson), mítica personagem das animações "Star
      Wars Rebels" e "Star Wars: The Clone Wars", seguindo sua perseguição ao
      Grande Almirante Imperial Thrawn (Lars Mikkelsen) e outras ameaças à
      galáxia.
    </p>
  </div>
  <div class="big-card-button">
    <a href="https://www.disneyplus.com/pt-br/series/ahsoka/pdpjs2TO4zJ4" target="_blank">
      <button type="button">ASSISTA AGORA</button>
    </a>
  </div>
</div>
