<div class="articles_container">
  <div class="articles_main">
    <app-big-card
      id="1"
      photo="./assets/img/big-card-2.jpg"
      title="Ahsoka Tano investiga uma ameaça emergente à galáxia"
      description='Após a queda do Império, acompanhamos as aventuras da antiga cavaleira
    Jedi Ahsoka Tano (Rosario Dawson), mítica personagem das animações "Star
    Wars Rebels" e "Star Wars: The Clone Wars", seguindo sua perseguição ao
    Grande Almirante Imperial Thrawn (Lars Mikkelsen) e outras ameaças à
    galáxia.'
    ></app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card
      photo="https://lumiere-a.akamaihd.net/v1/images/star-wars-visions-1-cover_article-feature_c8fb591a.jpeg?region=0,0,1600,900&width=1200"
      title="Visions Comic explora as origens do antigo Sith Ronin"
      subtitle="Conhecemos o Ronin pela primeira vez no curta Kamikaze Douga “The Duel” no Volume I de Star Wars: Visions, depois vimos seu mundo se expandir com o romance Star Wars: Ronin e uma história em quadrinhos prequel escrita e ilustrada por Takashi Okazaki."
    >
    </app-small-card>
    <app-small-card
      photo="https://lumiere-a.akamaihd.net/v1/images/ahsoka-104-highlights_article-feature_1c91ffef.jpeg?region=0,0,1600,900&width=1200"
      title="Ahsoka: 5 destaques da “Fallen Jedi”"
      subtitle="Em “Ahsoka Analyzed”, StarWars.com escolhe os destaques de cada episódio. Pegue seus sabres de luz e junte-se a nós nessa jornada. Aviso de spoiler: este artigo discute detalhes da história e pontos da trama do episódio de Ahsoka “Parte Quatro: Jedi Caídos”."
    >
    </app-small-card>
    <app-small-card
      photo="https://lumiere-a.akamaihd.net/v1/images/the-mandalorian-4k-hero_c7e82428.jpeg?region=0,0,990,557"
      title="As temporadas de O Mandalorian em 4K Ultra HD e Blu-ray"
      subtitle="As temporadas 1 e 2 de The Mandalorian estão chegando em 4K Ultra HD e Blu-ray. Star Wars: The Mandalorian: Primeira e Segunda temporada, chegarão no dia 12 de dezembro de 2023. Com cada coleção disponível nacionalmente em embalagens Steelbook. (Melhor do que beskar, pensamos!)"
    >
    </app-small-card>
  </div>
</div>
